.footer {
	padding: 10px 10px 27.7px 10px;
	&__box{
		position: relative;
		width: 335px;
		margin: 0 auto;
	}
	&__beens {
		position: relative;
		top: 17px;
		left: -27px;
		width: 32px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0 auto 27px auto;
		width: 335px;
	}
	&__item {
		list-style-type: none;
	}
	&__link {
		text-decoration: none;
		font-family: "Merienda-Regular";
		color: #000000;
		font-size: 12px;
		line-height: 17px;
	}
	/* &__separator{
		display: grid;
		grid-template-columns: 60px 40px 60px;
		grid-template-rows: 1px 29.3px 1px;
		column-gap: 20px;
		margin: 27px auto 0px auto;
		width: 200px;
	}
	&__line{
		margin-top: 14.95px;
		border: 0.8px solid #000000;
	}
	&__img {
		margin-left: 7px;
	} */
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
	
}
@media (max-width: 575px) {
	.footer{
		display: none;
	}
}